{% extends 'blog/top_menu.html' %}

{% load static %}

{% block content %}

<br>

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img style="height: 225; object-fit: cover;" src="{% static 'favicon/Medisys_Map.png' %}"/>

                <div class="card-body">
                    <p class="card-text">ECDC에서 제공하는 Medisys 글로벌 감염병 관련 기사 데이터를 분석하여 전세계 감염병 유입 및 발생 위험도 분석 결과 제공</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">글로벌 감염병 유입 위험도</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img style="height: 225; object-fit: cover;" src="{% static 'favicon/Clustering_example.png' %}"/>

                <div class="card-body">
                    <p class="card-text">GISAID에서 제공하는 대량의 SARS-CoV-2 서열 데이터를 기반으로 한 바이러스 아틀라스 제공 및 분석 결과 제공</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">SARS-CoV-2 서열 분석</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img style="height: 225; object-fit: cover;" src="{% static 'favicon/SARS-CoV-2_WordCloud.png' %}"/>

                <div class="card-body">
                    <p class="card-text">SARS-CoV-2 관련 다양한 문헌 데이터 분석을 통한 백신 After Effect 관련 키워드 검색 및 관련 분석 결과 제공</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                        <small class="text-muted">SARS-CoV-2 키워드 분석</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
